<div class="login-register-container">
    <div class="img-content">
        <img src="../../../assets/logo_login_screen - Copia.png"/>
    </div>
    <br/>
    <div class="form-login">
        <mat-form-field class="login-input-area">
            <mat-label>Login</mat-label>
            <input
                type="text"
                matInput
                required
            />
        </mat-form-field>

        <mat-form-field class="login-input-area">
            <mat-label>Senha</mat-label>
            <input
                type="password"
                matInput
                required
            />
        </mat-form-field>
        
        <button 
            type="submit"
            mat-button 
            color="primary">
                Entrar
        </button>
    </div>

    <div class="link-recupera-senha">
        <a routerLink="/recupera-senha">Esqueceu sua senha?</a>
    </div>    

    <div class="sign-up">
        <span>Não possui conta ainda?</span>
        <br/>
        <button class="sign-up button">
            <a routerLink="/sign-in"><b>Cadastre-se</b></a>
        </button>
    </div>

    <label>Versão 1.0</label>
</div>