.login-register-container {

    .img-content {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 40%;
            max-width: 200px;
            height: auto;
        }
    }

    .form-login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;

        .login-input-area {
            width: 115%;
            max-width: 400px;
        }

        button {
            width: 90%;
            max-width: 400px;
            color: white;
            background-color: #336666;
            border: solid 1px #122525;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .link-recupera-senha {
        a {
            font-size: clamp(14px, 4vw, 18px);
            color: black;
        }
    }

    .sign-up {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 95%;
        max-width: 400px;
        padding: 1rem;

        button {
            border: 1px solid black;
            border-radius: 12px;
            background: black;
            color: white;
            width: 60%;
            padding: 10px;
            cursor: pointer;
        }

        span {
            margin-top: 1rem;
            text-align: center;
            width: 100%;
        }

        a {
            text-decoration: none;
            color: white;
        }
    }

    label {
        padding-top: 0.5rem;
    }
}
