.label-value{
    text-align: center;

    strong{
        font-size: 6vw;
        text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.465);

    }
}

.progress-container{
    width: 80vw;
    height: 10%;
    border: 2vw;
    border-radius: 3vw;
    background-color: gainsboro;
    overflow: hidden;
    margin-top: 3vw;
}

.progress-fill{
    height: 100%;
    background-color: rgb(121, 182, 186);
    transition: width 0.4s ease;
    text-align: center;
    line-height: 5vh;
    color: white;
}

.label-progress-bar{
    font-size: 3vw;
    text-align: center;
    color: rgb(59, 59, 59);
}

.label-imc-description{
    text-align: center;
    margin-top: 3vw;
}