<div class="footer-container">
    <div class="footer-links">
        <a routerLink="/home" routerLinkActive="active" (click)="setActiveMenu('home')" class="menu-item">
            <img src="../../../assets/home_menu_icon-removebg-preview.png"/>
            <span>Inicio</span>
        </a>
    </div>

    <div class="footer-links">
        <a routerLink="/agua" routerLinkActive="active" (click)="setActiveMenu('agua')" class="menu-item">
            <img src="../../../assets/water_menu_icon-removebg-preview.png"/>
            <span>Água</span>
        </a>
    </div>

    <div class="footer-links">
        <a routerLink="/refeicoes" routerLinkActive="active" (click)="setActiveMenu('refeicoes')" class="menu-item">
            <img src="../../../assets/food_menu_icon-removebg-preview.png"/>
            <span>Refeições</span>
        </a>
    </div>

    <div class="footer-links">
        <a routerLink="/meu-peso" routerLinkActive="active" (click)="setActiveMenu('meu-peso')" class="menu-item">
            <img src="../../../assets/weigth_menu_icon-removebg-preview.png"/>
            <span>Peso</span>
        </a>
    </div>

    <div class="footer-links">
        <a routerLink="/perfil" routerLinkActive="active" (click)="setActiveMenu('perfil')" class="menu-item">
            <img src="../../../assets/profile_menu_icon-removebg-preview.png"/>
            <span>Perfil</span>
        </a>
    </div>
</div>