.chart-area{
    width: 100vw;
    height: 30vh;
    padding: 5vw;
}

.legenda{
    display: flex;
    width: 100vw;
    height: 30vh;
    padding: 5vw;

    .descricao{
        display: flex;
        flex-direction: column;
        width: 60vw;
        height: 25vh;
        text-align: left;
        font-size: 3.5vw;

        span{
            position: relative;
            padding-left: 15vw;
            font-weight: 400;
        }

        .item{
            .item-icon{
                display: flex;
                position: relative;
                width: 12vw;
                height: 3vh;
                border-radius: 5vw;
                box-shadow: 0 0 1vw rgba(0, 0, 0, 0.309);
                bottom: 5.5vw;
            }
        }
    }

    .valor_em_g{
        position: relative;
        flex-direction: column;
        display: flex;
        width: 14vw;
        height: 25vh;
        text-align: center;
        font-size: 3.5vw;
        line-height: 11.5vw; 
        bottom: 2vw;  
    }

    .valor_em_perc{
        position: relative;
        flex-direction: column;
        display: flex;
        width: 14vw;
        height: 25vh;
        text-align: center;
        font-size: 3.5vw;
        line-height: 11.5vw; 
        bottom: 2vw; 
    }

    button{
        left: 50vw;
    }
}