.app-container{
    .user-info-field{
        display: flex;
        flex-direction: column;
        margin-top: 5vw;
        padding-bottom: 5vw;
        box-shadow: rgba(128, 128, 128, 0.203) 5px 2px 5px;

        p{
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;

            strong{
                width: 25vw;
                font-weight: 600;
            }

            span{
                width: 60vw;
            }
        }
    }

    .security-field{
        display: block;

        strong{
            position: relative;
            font-size: 7vw;
            left: 5vw;
            top: -4vw;
        }

        img{
            position: relative;
            width: 15vw;
            height: auto;
            justify-content: right;
            left: 50vw;
            top: 5vw;
            opacity: 40%;
        }

        button{
            width: 40vw;
            height: 10vw;

            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            justify-self: center;

            border-radius: 6vw;
            background-color: #122525;
            color: whitesmoke;
        }
    }
}