<!-- WEB VERSION -->
<div class="web">
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="container">
        <div class="left-menu">
            <app-left-menu></app-left-menu>
        </div>
        <div class="right-panel">
            <div class="titulo">
                <strong>Meus Dados</strong>
            </div>
            <mat-divider></mat-divider>
            <div class="content">
                <div class="resumo">

                </div>
                <mat-divider vertical="true"></mat-divider>
                <div class="mapa">

                </div>
            </div>
        </div>
    </div>
</div>


<!-- APP VERSION -->
<div class="app">
    <app-header></app-header>
    
    <div class="app-container">
        <div class="title">
            Meus Dados
        </div>
        <div class="user-info-field">
            <p><strong>Nome:</strong> <span>{{usuario?.nome}}</span></p>
            <p><strong>E-mail:</strong> <span>{{usuario?.email}}</span></p>
            <p><strong>CPF:</strong> <span>{{usuario?.cpf}}</span></p>
            <p><strong>Telefone:</strong> <span>{{usuario?.telefone}}</span></p>
            <p><strong>Data Nasc:</strong> <span>{{usuario?.data_nascimento | date:'dd/MM/yyyy':'':'pt-br'}}</span></p>
            <p><strong>Sexo:</strong> <span>{{usuario?.sexo | sexoLabel }}</span></p>
        </div>
        <div class="security-field">
            <strong>Segurança</strong>
            <img src="../../../assets/security.png"/>
            <br/>
            <button mat-button (click)="showPasswordScreen()">Alterar Senha</button>
        </div>
    
    </div>
    
    <app-footer></app-footer>
</div>