<app-header></app-header>

<div class="app-container">
    <div class="title">
        Resumo diário
    </div>

    <mat-divider></mat-divider>
    
    <div class="grid-content">
        <strong>Caminhada</strong>
        <span><b>Contagem de passos:</b></span>
        <span><b>Distancia percorrida:</b></span>
        <span><b>Calorias perdidas:</b></span>
        <div class="img-area">
            <img src="../../../assets/feets_icon.png"/>
        </div>
    </div>
    
    <mat-divider></mat-divider>

    <div class="grid-content">
        <strong>Alimentação</strong>
        <span><b>Caloria consumida:</b></span>
        <span><b>Proteína consumida:</b></span>
        <span><b>Carboidrato consumido:</b></span>
        <span><b>Gordura consumida:</b></span>
        <span><b>Fibra consumida:</b></span>
        <div class="img-area">
            <img src="../../../assets/food_icon.png"/>
        </div>
    </div>

    <mat-divider></mat-divider>
    
    <div class="grid-content">
        <strong>Beba Água</strong>
        <span><b>Agua ingerida (litros):</b></span>
        <div class="img-area">
            <img src="../../../assets/water_icon.png"/>
        </div>
    </div>
</div>

<app-footer></app-footer>