<app-header></app-header>

<div class="app-container">
    <div class="title">
        Resumo diário
    </div>

    <mat-divider></mat-divider>
    
    <div class="grid-content">
        <strong>Caminhada</strong>
        <span><b>Contagem de passos:</b></span>
        <span><b>Distancia percorrida:</b></span>
        <span><b>Calorias perdidas:</b></span>
        <div class="img-area">
            <img src="../../../assets/feets_icon.png" style="margin-top: 15vw;"/>
        </div>
    </div>
    
    <mat-divider></mat-divider>

    <div class="grid-content">
        <strong>Alimentação</strong>
        <span><b>Caloria consumida:</b>{{caloriaConsumuda}} kcal</span>
        <span><b>Proteína consumida:</b>{{proteinaConsumida}} g</span>
        <span><b>Carboidrato consumido:</b>{{carboidratoConsumido}} g</span>
        <span><b>Gordura consumida:</b>{{gorduraConsumida}} g</span>
        <span><b>Fibra consumida:</b>{{fibraConsumida}} g</span>
        <div class="img-area">
            <img src="../../../assets/food_icon.png" style="margin-top: 35vw;"/>
        </div>
    </div>

    <mat-divider></mat-divider>
    
    <div class="grid-content">
        <strong>Beba Água</strong>
        <span><b>Agua ingerida (litros):</b>{{aguaConsumida}} L</span>
        <div class="img-area">
            <img src="../../../assets/water_icon.png"/>
        </div>
    </div>
</div>

<app-footer></app-footer>