.form-container{
    width: 100vw;
    display: flex;
    padding-top: 5vw;

    span{
        display: inline-flex;
        width: 20vw;
        margin-top: 5vw;
        margin-left: 5vw;
    }

    .formField_atualiza_medida{
        position: relative;
        display: inline-flex;   
        width: 70vw;
        height: 8vh;
        font-size: 3.5vw;
    }

    .button-area{
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: space-evenly;
    }

    a{
        color: black;
        text-decoration: none;
    }
}