<app-header></app-header>

<div class="app-container">
    <div class="title">
        Atualizar Medidas
    </div>
    <div class="form-container">
        <form [formGroup]="formMedidas">
            <div class="inputField">
                <span>Quadril:</span>
                <mat-form-field class="formField_atualiza_medida">
                    <input
                        type="text"
                        matInput
                        placeholder="Informe a medida do quadril (cm)"
                        maxlength="3"
                        formControlName="quadril"
                        required
                    />
                    <mat-error>Campo Obrigatório</mat-error>
                </mat-form-field>
            </div>

            <div>
                <span>Umbigo:</span>
                <mat-form-field class="formField_atualiza_medida">
                    <input 
                        type="text"
                        matInput
                        placeholder="Informe a medida do umbigo (cm)"
                        maxlength="3"
                        formControlName="umbigo"
                        required
                    />
                    <mat-error>Campo Obrigatório</mat-error>
                </mat-form-field>
            </div>

            <div>
                <span>Cintura:</span>
                <mat-form-field class="formField_atualiza_medida">
                    <input 
                        type="text"
                        matInput
                        placeholder="Informe a medida da cintura (cm)"
                        maxlength="3"
                        formControlName="cintura"
                        required
                    />
                    <mat-error>Campo Obrigatório</mat-error>
                </mat-form-field >
            </div>

            <div>
                <span>Braço:</span>
                <mat-form-field class="formField_atualiza_medida">
                    <input 
                        type="text"
                        matInput
                        placeholder="Informe a medida do seu braço (cm)"
                        maxlength="3"
                        formControlName="braco"
                        required
                    />
                    <mat-error>Campo Obrigatório</mat-error>
                </mat-form-field>
            </div>

            <div>
                <span>Coxa:</span>
                <mat-form-field class="formField_atualiza_medida">
                    <input 
                        type="text"
                        matInput
                        placeholder="Informe a medida da sua coxa (cm)"
                        maxlength="3"
                        formControlName="coxa"
                        required
                    />
                    <mat-error>Campo Obrigatório</mat-error>
                </mat-form-field>
            </div>

            <div>
                <span>Altura:</span>
                <mat-form-field class="formField_atualiza_medida">
                    <input 
                        type="text"
                        matInput
                        placeholder="Informe sua altura (cm)"
                        maxlength="3"
                        formControlName="altura"
                        required
                    />
                    <mat-error>Campo Obrigatório</mat-error>
                </mat-form-field>
            </div>
            <br/>
            <div class="button-area">
                <button class="cancel_button" type="reset"><a routerLink="/meu-peso">Cancelar</a></button>
                <button class="confirm_button">Salvar</button>
            </div>
        </form>  
    </div>
</div>

<app-clean-footer></app-clean-footer>