<app-header></app-header>

<div class="app-container">
    <div class="title">
        Atualizar Medidas
    </div>
    <div class="form-container">
        <form>
            <span>Quadril:</span>
            <mat-form-field class="formField_atualiza_medida">
                <input
                    type="text"
                    matInput
                    placeholder="Informe o diametro do quadril (em cm)"
                    required
                />
            </mat-form-field>
            <br/>
            <span>Umbigo:</span>
            <mat-form-field class="formField_atualiza_medida">
                <input 
                    type="text"
                    matInput
                    placeholder="Informe o diametro do umbigo (em cm)"
                    required
                />
            </mat-form-field>
            <br/>
            <span>Cintura:</span>
            <mat-form-field class="formField_atualiza_medida">
                <input 
                    type="text"
                    matInput
                    placeholder="Informe o diametro do Umbigo (em cm)"
                    required
                />
            </mat-form-field >
            <br/>
            <span>Braço:</span>
            <mat-form-field class="formField_atualiza_medida">
                <input 
                    type="text"
                    matInput
                    placeholder="Informe o diametro do seu braço (em cm)"
                    required
                />
            </mat-form-field>
            <br/>
            <span>Coxa:</span>
            <mat-form-field class="formField_atualiza_medida">
                <input 
                    type="text"
                    matInput
                    placeholder="Informe o diametro da sua coxa (em cm)"
                    required
                />
            </mat-form-field>
            <br/>
            <span>Altura:</span>
            <mat-form-field class="formField_atualiza_medida">
                <input 
                    type="text"
                    matInput
                    placeholder="Informe sua altura (em cm)"
                    required
                />
            </mat-form-field>
            <br/>
        </form>
            
    </div>
</div>

<app-clean-footer></app-clean-footer>