<app-header></app-header>

<div class="app-container">
  <div class="title">
    Beba Água
  </div>

  <div class="progressBar_content">
    <div class="progress-wrapper">
      <mat-progress-bar
        mode="determinate"
        [value]="30"
        class="progressBar">
      </mat-progress-bar>

      <span class="progress-text">
        1050ml / 3000ml<br/>
        <span>Meta Diária</span>
      </span>
    </div>
  </div>
  <div class="divider">
    <mat-divider></mat-divider>
  </div>
  <div class="selection_field">
    <div class="row">
      <button><img src="../../../assets/caneca_agua.png"/><p>200ml</p></button>
      <button><img src="../../../assets/copo_agua_2.png"/><p>350ml</p></button>
      <button><img src="../../../assets/garrafa_agua.png"/><p>600ml</p></button>
    </div>
    <div class="row">
      <button><img src="../../../assets/garrafa_agua_2.png"/><p>1000ml</p></button>
      <button><img src="../../../assets/garrafa_agua_3.png"/><p>1500ml</p></button>
      <button><img src="../../../assets/jarra_agua.png"/><p>2000ml</p></button>
    </div>
    <div class="sendButton">
      <button class="send_button">Beber Água</button>
    </div>
  </div>
</div>

<app-footer></app-footer>
