.selection_field{
    width: 90vw;
    height: auto;
    padding-top: 7vw;
    margin: 5vw;

    position: relative;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;

    .row{
        width: 100%;
        position: relative;
        justify-content: space-around;
        align-content: center;


        button{
            background: none;
            width: 30vw;
            height: 30vw;
            margin: 1vw;
        }

        p{
            padding-top: 3vw;
        }

        img{
            width: 85%;
            height: auto;
        }
    }

    .sendButton{
        position: relative;
        margin-top: 8vw;
    }

    .radioButtonGroup{
        display: flex;
        width: 30vw;
        height: auto;

        .radioButtomItem{
            display: flex;
            background: none;
            width: 100%;
            height: 30vw;
            margin: 1vw;
            justify-content: center;

            p{
                padding-top: 5vw;
            }

            img{
                width: 100%;
                height: auto;
            }
        }
    }
}