    <div class="general">
        <div class="change-password-field">
            <form class="input-area" [formGroup]="form" (submit)="atualizaSenhaUsuario()">
                <span><b>Alterar Senha</b></span>
                <br/>
                <mat-form-field appearance="fill" class="form-field-small">
                    <mat-label>Senha atual:</mat-label>
                    <input 
                        type="password"
                        placeholder="Informe a senha atual"
                        formControlName="senhaAtual"
                        matInput
                        required
                    />
                    <mat-error>Campo obrigatório</mat-error>
                </mat-form-field>
    
                <mat-form-field appearance="fill" class="form-field-small">
                    <mat-label>Nova senha:</mat-label>
                    <input 
                        type="password"
                        placeholder="Digite a nova senha"
                        formControlName="novaSenha"
                        matInput
                        required
                    />
                    <mat-error>Campo obrigatório</mat-error>
                </mat-form-field>
                <button type="submit" class="send_button">Salvar</button>
            </form>
        </div>
    </div>