    .change-password-field{
        width: 100%;
        display: flex;
        position: relative;
        justify-content: center;
        bottom: 20vh;

        .input-area{
                width: 80vw;
                height: auto;
                padding: 5vw;
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                align-items: center;
                
                box-shadow: rgb(85, 85, 85) 0 0 5px;
                border-radius: 5vw;
                background-color: rgb(181, 181, 181);

                span{
                    display: inline-block;
                    text-align: center;
                    width: 90%;
                    font-size: 5vw;
                    padding-top: 1.5vw;
                }
    
                .form-field-small{
                    
                    font-size: 12px;
                    width: 60vw;
                    height: 10vh;                  

    
                    .mat-mdc-form-field-infix {
                        height: 7vh;
                    }

                    .mat-mdc-text-field-wrapper {
                        height: 7vh;
                    }
    
                    input {
                        font-size: 15px;
                    }
                }
            }
    }