.app-container{
    position: relative;
    width: 100vw;
    overflow-y: scroll;

    .imc-content{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5vw;

        strong{
            width: 100%;
            text-align: left;
        }

    }

    .graphic-area {
        width: 70vw;
        height: 15vh; /* Muito baixo - aumente para algo como 40vh */
        margin-top: 2vw;
    }

    .peso-content{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3vw;
        margin-bottom: 15vw;

        strong{
            width: 100%;
            text-align: left;
        }
    }

    .medidas-content{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5vw;
        padding-bottom: 5vw;

        strong{
            width: 100%;
            text-align: left;
        }

        a{
            position: relative;
            margin-top: 15vw;
            left: 25vw;
        }
    }

    .info-button-area{
        position: absolute;
        display: flex;
        justify-content: right;
        width: 90vw;

        button{
            width: 8vw;
            height: auto;

            img{
                width: 100%;
                height: auto;
            }
        }
    }
}