<app-header></app-header>

<div class="app-container">
    <div class="title">
        Refeições
    </div>
    <div class="form_container">
        <form class="form_nova_refeicao" [formGroup]="form">
            <strong>Registre sua refeição:</strong>
            
            <div class="grid">
                <span>O que você comeu/bebeu?</span>
                <mat-form-field class="inputField">
                    <mat-label>Alimento</mat-label>
                    <input
                        type="text"
                        placeholder="Digite o nome do alimento"
                        matInput
                        formControlName="alimento"
                        [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let alimento of filteredAlimentos | async" [value]="alimento.descricao">
                            {{alimento.descricao}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>            

            <div class="grid">
                <span>Quantas gramas/ml?</span>
                <mat-form-field class="inputField">
                    <mat-label>Quantidade (g/ml)</mat-label>
                    <input
                        type="text"
                        matInput
                        formControlName="quantidade"
                        required
                    />
                </mat-form-field>
            </div>

            <div class="grid">
                <span>Período da Refeição</span>
                <mat-form-field class="inputField">
                    <mat-label>Período</mat-label>
                    <mat-select>
                        <mat-option [value]="'Café da Manhã'">Café da Manhã</mat-option>
                        <mat-option [value]="'Almoço'">Almoço</mat-option>
                        <mat-option [value]="'Lanche'">Lanche</mat-option>
                        <mat-option [value]="'Café da Tarde'">Café da Tarde</mat-option>
                        <mat-option [value]="'Jantar'">Jantar</mat-option>
                        <mat-option [value]="'Ceia'">Ceia</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <button class="send_button">Adicionar</button>
        </form>
    </div>
    <mat-divider></mat-divider>
    <div class="mapa">
        <button class="send_button">Mapa de Refeições</button>
    </div>
</div>

<app-footer></app-footer>