//WEB VERSION
    .web{
        display: block;
        overflow: hidden;
        
        .header{
            width: 100vw;
            height: 10vh;
            background-color: #3366637d;
        }

        .container{
            width: 100vw;
            height: 90vh;
            display: flex;
            position: relative;

            .left-menu{
                width: 15vw;
                height: 90vh;
                background-color: #122525;
                
                li{
                    font-size: 2vw;
                    color: whitesmoke;
                    padding: 1.5vw;
                }

                li:hover{
                    cursor: pointer;
                    background-color: #476c6c;
                }
            }

            .right-panel{
                width: 85vw;
                height: 5vw;

                .titulo{
                    width: 85vw;
                    height: 5vw;
                    position: relative;
                    align-content: center;

                    strong{
                        padding-left: 2vw;
                        font-size: 2vw;
                        width: 85vw;
                    }
                }

                .form_nova_refeicao{
                    width: 60vw;
                    height: auto;
                    display: flex;
                    flex-direction: column;

                    padding-top: 2vw;
                    padding-left: 4vw;
                
                    strong{
                        width: 100%;
                        font-size: 1.5vw;
                        font-weight: 300;
                        text-align: left;
                        margin-bottom: 2vw;
                    }
                
                    .grid{
                
                        span{
                            display: inline-flex;
                            margin-bottom: 1vw;
                        }
                        
                        .inputField{
                            width: 95%;
                        }
                
                    }
                }

                button{
                    width: 40vw;
                    height: 6vh;
                    border-radius: 1vw;
                    margin-left: 20vw;
                    margin-top: 1vw;
                    cursor: pointer;
                }
            }
        }
    }

    .app{
        display: none;
    }

//MOBILE VERSION
@media screen and (max-width:400px) {

    .web{
        display: none;
    }

    .app{
        display: block;
        
        .form_nova_refeicao{
            width: 100vw;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-content: center;
            padding: 4vw;
        
            strong{
                width: 100%;
                font-size: 5vw;
                font-weight: 500;
                text-align: left;
                margin-bottom: 5vw;
            }
        
            .grid{
                margin-bottom: 2vw;
        
                span{
                    display: inline-flex;
                    margin-bottom: 2vw;
                }
                
                .inputField{
                    width: 95%;
                }
        
            }
        }
        
        .mapa{
            width: 100vw;
            height: 8vh;
            display: flex;
            align-items: center;
            justify-content: center;
        
            a{
                color: white;
            }
        }
    }
}