<app-header></app-header>

<div class="app-container">
    <div class="title">
        Meu Peso
    </div>
    <div class="data_container">
        <span><b>Ultima pesagem:</b></span>
        <span><b>Peso atual:</b></span>
        <a class="slim_button" routerLink="/atualiza-peso" routerLinkActive="active">Atualizar</a>
    </div>
    <mat-divider></mat-divider>
    <div class="data_container">
        <strong>Medida Corporal</strong>
        <span><b>Quadril:</b></span>
        <span><b>Umbigo:</b></span>
        <span><b>Cintura:</b></span>
        <span><b>Braço:</b></span>
        <span><b>Coxa:</b></span>
        <img src="../../../assets/body.png"/>
        <a class="slim_button" routerLink="/atualiza-medidas" routerLinkActive="active">Atualizar</a>        
    </div>
    <mat-divider></mat-divider>
    <div class="data_container">
        <button class="send_button"><a routerLink="/detalhes">Ver Detalhes</a></button>
    </div>
</div>

<app-footer></app-footer>