<app-header></app-header>

<div class="app-container">
    <div class="title">
        Meu Peso
    </div>
    <div class="data_container">
        <span><b>Ultima pesagem:</b></span>
        <span><b>Peso atual:</b></span>
        <button class="slim_button">Atualizar</button>
    </div>
    <mat-divider></mat-divider>
    <div class="data_container">
        <strong>Medida Corporal</strong>
        <span><b>Quadril:</b></span>
        <span><b>Umbigo:</b></span>
        <span><b>Cintura:</b></span>
        <span><b>Braço:</b></span>
        <span><b>Coxa:</b></span>
        <img src="../../../assets/body.png"/>
        <button class="slim_button">Atualizar</button>        
    </div>
    <mat-divider></mat-divider>
    <div class="data_container">
        <button class="send_button">Ver Detalhes</button>
    </div>
</div>

<app-footer></app-footer>