<app-header></app-header>

<div class="app-container">
    <div class="title">
        Meu Peso
    </div>
    <div class="data_container">
        <span><b>Ultima pesagem:</b>{{pesagem?.data_hora_pesagem | date:'dd/MM/yyyy HH:mm:ss':'-0300':'pt-BR'}}</span>
        <span><b>Peso atual:</b>{{usuario?.pesoAtual}} kg</span>
        <a class="slim_button" routerLink="/atualiza-peso" routerLinkActive="active">Atualizar</a>
    </div>
    <mat-divider></mat-divider>
    <div class="data_container">
        <strong>Medida Corporal</strong>
        <span><b>Quadril:</b>{{usuario?.quadrilAtual}} cm</span>
        <span><b>Umbigo:</b>{{usuario?.umbigoAtual}} cm</span>
        <span><b>Cintura:</b>{{usuario?.cinturaAtual}} cm</span>
        <span><b>Braço:</b>{{usuario?.bracoAtual}} cm</span>
        <span><b>Coxa:</b>{{usuario?.coxaAtual}} cm</span>
        <img src="../../../assets/body.png"/>
        <br/>
        <a class="slim_button" routerLink="/atualiza-medidas" routerLinkActive="active">Atualizar</a>        
    </div>
    <mat-divider></mat-divider>
    <div class="data_container">
        <button class="send_button"><a routerLink="/detalhes">Ver Detalhes</a></button>
    </div>
</div>

<app-footer></app-footer>