* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;

    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html, body {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: linear-gradient(220deg, #ffffff, #e7e7e7);
    overflow-x: hidden; /* evita estouro horizontal */
}

/* CSS DE PADRONIZAÇÃO DAS TELAS DE LOGIN E REGISTRO */
.login-register-container {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: linear-gradient(220deg, #45eae9, #a1a1a1);

    display: flex;
    flex-direction: column;
    align-items: center;      /* centraliza horizontalmente */
    justify-content: center;  /* centraliza verticalmente */
}

.signup-button{
    border: 1px solid black;
    border-radius: 12px;
    background: rgb(0, 0, 0);
    color: white;
    width: 60%;
    padding: 10px;
    cursor: pointer;
}