*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;

    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html, body {
    margin: 0; 
    width: 100vw;
    height: 100vh;
    background: linear-gradient(220deg, #ffffff, #e7e7e7);
}


//CSS DE PADRONIZAÇÃO DAS TELAS DE LOGIN E REGISTRO

.login-register-container{
    width: 100%;
    height: 100%;
    background: linear-gradient(220deg, #45eae9, #a1a1a1);

    display: flex;
    flex-direction: column;
    align-items: center;      // centraliza horizontalmente
    justify-content: center;  // centraliza verticalmente
    width: 100%;
    min-height: 100vh;        // ocupa a tela inteira
}