* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;

    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html, body {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: linear-gradient(220deg, #ffffff, #cbcbcb);
    overflow-x: hidden; /* evita estouro horizontal */
}

/* CSS DE PADRONIZAÇÃO DAS TELAS DE LOGIN E REGISTRO */
.login-register-container {
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
    background: linear-gradient(220deg, #45eae9, #a1a1a1);

    display: flex;
    flex-direction: column;
    align-items: center;      /* centraliza horizontalmente */
    justify-content: center;  /* centraliza verticalmente */
}

.app-container{
    width: 100vw;
    height: 80vh;

    .title{
        width: 100vw;
        height: 12vh;

        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;

        font-size: 10vw;

        box-shadow: rgba(128, 128, 128, 0.203) 5px 2px 5px;
    }
}

.signup-button{
    border: 1px solid black;
    border-radius: 12px;
    background: rgb(0, 0, 0);
    color: white;
    width: 60%;
    padding: 10px;
    cursor: pointer;
}

.send_button{
    width: 50vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-self: center;

    border-radius: 3vw;
    background-color: #122525;
    color: whitesmoke;
}

.slim_button{
    width: 40vw;
    height: 3.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-self: center;

    border-radius: 2vw;
    background-color: #122525;
    color: whitesmoke;
}

.change-password-dialog {
  padding: 0 !important;
  border-radius: 10vw !important;
  overflow: hidden !important;
  background: rgb(181, 181, 181);
}

.change-password-dialog .mat-mdc-dialog-container {
  padding: 0 !important;
  border-radius: 10vw !important;
}

.progressBar_content {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  height: 10vh;
}

.progress-wrapper {
  position: relative;
  width: 70vw;
  height: 10vh;
}

/* Altura e bordas arredondadas */
.progressBar {
  height: 22px !important;
  border-radius: 999px;
  overflow: hidden;
}

/* Fundo da barra */
.mat-progress-bar-buffer {
  background-color: #dff6f8 !important;
  height: 10px !important;
}

/* Barra de progresso */
.mat-progress-bar-fill::after {
  background-color: #7cecf2 !important;
  border-radius: 999px;
  height: 10px !important;
}

/* Texto dentro da barra */
.progress-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-weight: 600;
  color: #4f4f4f;
  pointer-events: none;
}